// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom colors:
$container-bg-color: #FFFF;
// Define variables for your color scheme
$container-background-color: #327338;
$main-text-color: #fff;
$secondary-text-color: #d4d4a8;
$background: #000000;
$secondary-background: #15191d;
$secondary-text: #C0C0C0;

