// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

a{
  text-decoration: none;
  display: inline-block;
}

p{
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  
  line-height: 1.5;
}
