<div class="hero-banner">
  <div class="home-main-container">
    <div class="catch-entence">
      <h1>Réservez la voiture qui vous correspond en un clic !</h1>
    </div>

    <div class="home-simpleform">
      <%= simple_form_for :search, url: cars_path, method: :get, html: { class: "search-bar-container" } do |f| %>
        <button type="submit" class="search-bar-icon">
          <%= svg_tag "icons/search" %>
        </button>
        <%= f.input :query,
            input_html: { value: params[:query], class: "search-bar-input", placeholder: "Rechercher une voiture..." },
            label: false,
            wrapper: false
        %>
      <% end %>
    </div>


    <div class="click-all-cars">
      <%= link_to "Toutes les voitures", cars_path, class: "btn-secondary blur btn-design" %>
    </div>

  </div>

</div>
