<div class="hero-banner">

  <div class="logo">
    <h1 class="logo-text-first">Oui<span class="logo-text-second">Car</span></h1>
  </div>
  <%= link_to "Toutes les voitures", cars_path, class: "btn-secondary blur" %>
</div>
