<div class="container">
  <h1 class="sub-title">Nos voitures</h1>
  <div class="index-car-container">
    <div class="content-car">
      <%= render "shared/filter_car" %>
      <%= render "shared/cars-card" %>
    </div>
  </div>
</div>
